<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actions</key>
	<dict>
		<key>short_actions</key>
		<dict>
			<key>synchronize_parameter</key>
			<string>HXWKLSynchronizeParameterAction</string>
			<key>setting_step_save_time_interval</key>
			<string>HXWKLSynchronizeParameterAction</string>
			<key>query_device_binding_status</key>
			<string>HXWKLBindDeviceAction</string>
			<key>apply_bind_device</key>
			<string>HXWKLBindDeviceAction</string>
		</dict>
		<key>long_actions</key>
		<dict/>
		<key>pay_action</key>
		<string>HXWKLPayAction</string>
		<key>simple_action</key>
		<string>HXWKLSimpleControlAction</string>
		<key>device_action</key>
		<string>HXWKLDeviceAction</string>
		<key>remind_action</key>
		<string>HXWKLRemindAction</string>
		<key>state_action</key>
		<string>HXWKLStateAction</string>
		<key>water_action</key>
		<string>HXWKLWaterAction</string>
		<key>system_action</key>
		<string>HXWKLSystemAction</string>
		<key>error_action</key>
		<string>HXWKLErrorAction</string>
		<key>upgrade_action</key>
		<string>HXWKLUpgradeAction</string>
		<key>ordinary_action</key>
		<string>HXWKLOrdinaryAction</string>
		<key>base_action</key>
		<string>HXBaseAction</string>
		<key>sleep_action</key>
		<string>HXWKLSleepAction</string>
		<key>step_action</key>
		<string>HXWKLStepAction</string>
		<key>query_action</key>
		<string>HXWKLQueryAction</string>
		<key>transparent_action</key>
		<string>HXWKLTransparentTransmissionAction</string>
		<key>pet_action</key>
		<string>HXWKLPetSportsAction</string>
	</dict>
	<key>controllers</key>
	<dict>
		<key>service_controller</key>
		<string>HXWKLController</string>
	</dict>
	<key>devices</key>
	<dict/>
	<key>clients</key>
	<dict/>
	<key>protocols</key>
	<dict>
		<key>support_protocol</key>
		<string>bleto</string>
	</dict>
</dict>
</plist>
