<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>W001A</key>
	<array>
		<string>SLEEP</string>
	</array>
	<key>W001B</key>
	<array>
		<string>SLEEP</string>
	</array>
	<key>W001C</key>
	<array>
		<string>SLEEP</string>
	</array>
	<key>D001A</key>
	<array>
		<string>BOUND</string>
		<string>SLEEP</string>
		<string>UNBOUND</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>D001B</key>
	<array>
		<string>BOUND</string>
		<string>SLEEP</string>
		<string>UNBOUND</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>D001C</key>
	<array>
		<string>SLEEP</string>
		<string>NOTICE</string>
		<string>BOUND</string>
		<string>SHORTPACKAGE</string>
		<string>UNBOUND</string>
	</array>
	<key>D001D</key>
	<array>
		<string>WARN</string>
		<string>NOTICE</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>W002A</key>
	<array>
		<string>SLEEP</string>
	</array>
	<key>W002B</key>
	<array>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>W002C</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>W002D</key>
	<array>
		<string>SLEEP</string>
	</array>
	<key>W002E</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>SHORTPACKAGE</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>PHOTOGRAPH</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>KEYLOCK</string>
	</array>
	<key>W002F</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>W002G</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>PHOTOGRAPH</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>W002H</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>PHOTOGRAPH</string>
		<string>ELECTRICITY</string>
		<string>BOUND</string>
		<string>SHORTPACKAGE</string>
		<string>UNBOUND</string>
	</array>
	<key>W002J</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>PHOTOGRAPH</string>
		<string>ELECTRICITY</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>SHORTPACKAGE</string>
		<string>KEYLOCK</string>
	</array>
	<key>W002K</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>PHOTOGRAPH</string>
		<string>ELECTRICITY</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>SHORTPACKAGE</string>
		<string>KEYLOCK</string>
	</array>
	<key>W002M</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
		<string>PHOTOGRAPH</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>W002N</key>
	<array>
		<string>SLEEP</string>
		<string>NOTICE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>SHORTPACKAGE</string>
	</array>
	<key>W079A</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>LIGHT</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>NOTICE</string>
	</array>
	<key>W079B</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>ELECTRICITY</string>
		<string>SHORTPACKAGE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>NOTICE</string>
	</array>
	<key>W007A</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>LOST</string>
		<string>KEYLOCK</string>
		<string>SITTINGEVENT</string>
	</array>
	<key>W007C</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>LOST</string>
		<string>KEYLOCK</string>
		<string>SITTINGEVENT</string>
	</array>
	<key>W007E</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>ELECTRICITY</string>
		<string>LOST</string>
		<string>SITTINGEVENT</string>
	</array>
	<key>W007F</key>
	<array>
		<string>SLEEP</string>
		<string>PHOTOGRAPH</string>
		<string>LOST</string>
		<string>KEYLOCK</string>
		<string>WARN</string>
		<string>SITTINGEVENT</string>
	</array>
	<key>W007G</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>ELECTRICITY</string>
		<string>LOST</string>
		<string>SITTINGEVENT</string>
	</array>
	<key>W007I</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>LOST</string>
		<string>KEYLOCK</string>
		<string>SITTINGEVENT</string>
	</array>
	<key>W007J</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>PHOTOGRAPH</string>
		<string>LOST</string>
		<string>KEYLOCK</string>
		<string>SITTINGEVENT</string>
	</array>
	<key>D007A</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>ELECTRICITY</string>
		<string>NOTICE</string>
		<string>LOST</string>
		<string>PHOTOGRAPH</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>D107C</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>PHOTOGRAPH</string>
		<string>NOTICE</string>
		<string>LOST</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>KEYLOCK</string>
	</array>
	<key>D007C</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>PHOTOGRAPH</string>
		<string>NOTICE</string>
		<string>LOST</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>KEYLOCK</string>
	</array>
	<key>D007F</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>ELECTRICITY</string>
		<string>PHOTOGRAPH</string>
		<string>NOTICE</string>
		<string>LOST</string>
		<string>UNBOUND</string>
		<string>BOUND</string>
	</array>
	<key>W032A</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>HEARTRATE</string>
		<string>NOTICE</string>
		<string>LOST</string>
	</array>
	<key>W027B</key>
	<array>
		<string>LOST</string>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FAMILY</string>
		<string>PHOTOGRAPH</string>
		<string>SHORTPACKAGE</string>
		<string>DRINKSITTING</string>
	</array>
    <key>W127B</key>
    <array>
        <string>LOST</string>
        <string>SLEEP</string>
        <string>WARN</string>
        <string>FAMILY</string>
        <string>PHOTOGRAPH</string>
        <string>SHORTPACKAGE</string>
        <string>DRINKSITTING</string>
    </array>
	<key>W077A</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>LOWBATTERY</string>
		<string>EVENT</string>
		<string>SMS</string>
	</array>
	<key>W034C</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>NOTICE</string>
		<string>ELECTRICITY</string>
	</array>
	<key>W006A</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>FINDEQ</string>
		<string>NOTICE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
	</array>
	<key>W006C</key>
	<array>
		<string>SLEEP</string>
		<string>NOTICE</string>
		<string>BOUND</string>
		<string>UNBOUND</string>
		<string>SHORTPACKAGE</string>
		<string>ELECTRICITY</string>
	</array>
	<key>W845A</key>
	<array>
		<string>SLEEP</string>
		<string>ELECTRICITY</string>
	</array>
	<key>W845B</key>
	<array>
		<string>SLEEP</string>
	</array>
	<key>P033A</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>LOST</string>
		<string>PHOTOGRAPH</string>
		<string>KEYLOCK</string>
		<string>CHONGZHI</string>
		<string>ELECTRICITY</string>
		<string>FINDEQ</string>
	</array>
	<key>P033B</key>
	<array>
		<string>WARN</string>
		<string>SLEEP</string>
		<string>CHONGZHI</string>
		<string>UNBOUND</string>
		<string>BOUND</string>
		<string>FINDEQ</string>
		<string>ELECTRICITY</string>
		<string>NOTICE</string>
	</array>
	<key>P033C</key>
	<array>
		<string>SLEEP</string>
		<string>WARN</string>
		<string>LOST</string>
		<string>PHOTOGRAPH</string>
		<string>KEYLOCK</string>
		<string>CHONGZHI</string>
		<string>ELECTRICITY</string>
		<string>FINDEQ</string>
	</array>
	<key>P033D</key>
	<array>
		<string>SLEEP</string>
		<string>NOTICE</string>
		<string>CHONGZHI</string>
		<string>UNBOUND</string>
		<string>BOUND</string>
		<string>SMS</string>
		<string>ELECTRICITY</string>
	</array>
</dict>
</plist>
