<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>W001A</key>
	<string>UpgradeTypeNew</string>
	<key>W001B</key>
	<string>UpgradeTypeNew</string>
	<key>W001C</key>
	<string>UpgradeTypeNew</string>
	<key>W002A</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002B</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002C</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002D</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002E</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002F</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002G</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002H</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002J</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002K</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W002M</key>
	<string>UpgradeTypeNew</string>
	<key>W002N</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W079A</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W079B</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W007A</key>
	<string>UpgradeTypeLibOta</string>
	<key>W007C</key>
	<string>UpgradeTypeLibOta</string>
	<key>W007F</key>
	<string>UpgradeTypeLibOta</string>
	<key>W007I</key>
	<string>UpgradeTypeLibOta</string>
	<key>W007J</key>
	<string>UpgradeTypeLibOta</string>
	<key>W007E</key>
	<string>UpgradeTypeLibOta</string>
	<key>W007G</key>
	<string>UpgradeTypeLibOta</string>
	<key>W032A</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W027A</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W077A</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W034C</key>
	<string>UpgradeTypeDialogOta</string>
	<key>D001A</key>
	<string>UpgradeTypeDialogOta</string>
	<key>D001B</key>
	<string>UpgradeTypeDialogOta</string>
	<key>D001C</key>
	<string>UpgradeTypeDialogOta</string>
	<key>D001D</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W006A</key>
	<string>UpgradeTypeDialogOta</string>
	<key>W006C</key>
	<string>UpgradeTypeDialogOta</string>
	<key>D107C</key>
	<string>UpgradeTypeDialogOta</string>
	<key>D007C</key>
	<string>UpgradeTypeDialogOta</string>
	<key>P033A</key>
	<string>UpgradeTypeLibOta</string>
	<key>P033B</key>
	<string>UpgradeTypeNew</string>
	<key>P033C</key>
	<string>UpgradeTypeLibOta</string>
	<key>P033D</key>
	<string>UpgradeTypeDialogOta</string>
</dict>
</plist>
